# No dot-directories except github/vscode
.*/
!.vscode/
!.github/

*.code-workspace
node_modules/
# Keep generated adapter runtime files in git, but ignore any other build byproducts.
build/*
!build/lib/
!build/main.js
!build/main.js.map
build/lib/*
!build/lib/*.js
!build/lib/*.js.map
dist/
.nyc_output/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
nbproject

# npm package files
iobroker.*.tgz

Thumbs.db
.commitinfo

# NYC coverage files
coverage/

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt
